@import "../theme/colors";

$min-width: 80px;
$max-width: calc(115px - (2 * 0.875rem));
$max-height: 150px;

.CurrencyDropdown {
  background-color: $white;
  padding: 0.5rem 0.875rem;
  border-radius: 1.75rem;
  width: $max-width;
  max-width: $max-width;
  color: $deep_blue;

  &__active {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__caret {
    background-image: url(/assets/dropdown-icon.svg);
    display: inline-block;
    width: 8px;
    height: 5px;
  }

  &__list {
    display: none;
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: $max-width;
    height: $max-height;
    border-radius: 0.5rem;
    padding: 0.5rem 0.875rem;
    overflow-y: scroll;
    background-color: $white;
    box-shadow: 0 5px 10px -5px $shallow_blue;

    &--open {
      display: block;
    }
  }

  &__list & {
    &__item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__item:hover & {
    &__name {
      text-decoration: underline;
    }
  }
}
