@import "../theme/colors";

.CurrencyInput {
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: $light_grey;
  font-size: 2.125rem;
  padding: 1.25rem 1.5rem;
  flex-grow: 1;
  color: $dark_blue;

  &::placeholder {
    color: $grey;
  }
}
