@import "../theme/colors";

.CurrencyConverterResult {
  display: flex;
  flex-flow: column;
  padding: 1.25rem 1.5rem;

  &__default {
    padding-top: 30px;
    color: $light_blue;
    font-weight: normal;
  }
}
